[run]
source = datums_warehouse/
omit =
    datums_warehouse/wsgi.py
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    except ImportError
    raise ImportError
    if __name__ == .__main__.:
    raise NotImplementedError